.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: 0.5s all;
}
.card img:hover{    
    opacity: 0.7;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
.pointer{
    cursor: pointer;
}